.p {
  width: 45%;
  height: 62vh;
  margin: 20px 10px;
  border: 2px solid white;
  border-radius: 10px 10px 0px 0px;
  box-shadow: 10px 10px 0px 0px rgb(199, 1, 19, 0.5);
  overflow: hidden;
}

.p-browser {
  height: 20px;
  background-color: rgb(243, 242, 242);
  display: flex;
  align-items: center;
  position: sticky;
  z-index: 2;
}

.p-circle {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 3px;
  background-color: white;
}

.p-img {
  width: 100%;
  height: 400px;
}

button {
  border: none;
  padding: 15px;
  background-color: rgb(199, 1, 19);
  color: white;
  font-weight: 500;
  cursor: pointer;
  margin-top: 10px;
}

button:hover {
  background-color: white;
  color: rgb(199, 1, 19);
  cursor: pointer;
}

@media only screen and (max-width: 375px) and (max-height: 767px) { 
    .p {
        width: 100%;
        height: 80vh;
        
      }
}

/* Extra small devices (phones, 600px and down) */
@media screen and (max-width: 600px) {
  .p {
    width: 100%;
    height: 80vh;
    /* background-color: aqua; */
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .p {
    width: 100%;
    height: 70vh;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .p {
    width: 45%;
    height: 78vh;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .p {
    width: 45%;
    height: 70vh;
    /* background-color: orange; */
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    .p {
        width: 30%;
        height: 80vh;
        /* background-color: purple; */
      }

      .p-img {
        width: 100%;
        height: 300px;
      }

      .para-desc {
          font-size: 13px;
      }
}
